body{

  background-color: black;
}

#board {
  background-color: red;
  width:;
}

.diamond{
  background-image: url('diamond.gif');
  background-color: red;
  width:20px;
  height:20px;
  position:absolute;

}
