body{

  background-color: black;
}

#store {
  background-color: red;
  width:800px;
  height:900px;
  background-position: center;
}

.diamond{
  background-image: url('diamond.gif');
  background-color: red;
  width:5px;
  height:5px;
  position:absolute;

}

.diamond img{
  width: 30px;
  height: 30px;
}
